/* SMALL SCREENS */
@media only screen and (max-width: 480px) {
    .main {
        display: grid;
        grid-template-columns: 1fr;
    }
    .image {
        display: block;
        height: auto;
        max-width: auto;
        margin-right: 1rem;
    }

    article {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
}